{
  "log": {
    "_recordingName": "fetch-service",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "126e6e91b5733d271d281d4c68fa11a2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://demo.netbox.dev/api/status/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 506,
            "text": "{\"django-version\":\"4.2.7\",\"installed-apps\":{\"debug_toolbar\":\"4.2.0\",\"django_filters\":\"23.3\",\"django_prometheus\":\"2.3.1\",\"django_rq\":\"2.8.1\",\"django_tables2\":\"2.6.0\",\"drf_spectacular\":\"0.26.5\",\"drf_spectacular_sidecar\":\"2023.10.1\",\"graphene_django\":\"3.0.0\",\"graphiql_debug_toolbar\":\"0.2.0\",\"mptt\":\"0.14.0\",\"rest_framework\":\"3.14.0\",\"social_django\":\"5.4.0\",\"taggit\":\"4.0.0\",\"timezone_field\":\"6.0.1\"},\"netbox-version\":\"3.6.5\",\"plugins\":{\"netbox_demo\":\"0.3.1\"},\"python-version\":\"3.8.10\",\"rq-workers-running\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 517,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
