{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "0d4c7ef9c63e7ea41c8459082e71cb5f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://demo.netbox.dev/api/dcim/devices/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71132,
            "text": "{\"count\":79,\"next\":\"https://demo.netbox.dev/api/dcim/devices/?limit=50&offset=50\",\"previous\":null,\"results\":[{\"id\":107,\"url\":\"https://demo.netbox.dev/api/dcim/devices/107/\",\"display\":\"ISP1\",\"name\":\"ISP1\",\"device_type\":{\"id\":6,\"url\":\"https://demo.netbox.dev/api/dcim/device-types/6/\",\"display\":\"ISR 1111-8P\",\"manufacturer\":{\"id\":3,\"url\":\"https://demo.netbox.dev/api/dcim/manufacturers/3/\",\"display\":\"Cisco\",\"name\":\"Cisco\",\"slug\":\"cisco\"},\"model\":\"ISR 1111-8P\",\"slug\":\"isr1111\"},\"device_role\":{\"id\":1,\"url\":\"https://demo.netbox.dev/api/dcim/device-roles/1/\",\"display\":\"Router\",\"name\":\"Router\",\"slug\":\"router\"},\"tenant\":null,\"platform\":null,\"serial\":\"\",\"asset_tag\":null,\"site\":{\"id\":25,\"url\":\"https://demo.netbox.dev/api/dcim/sites/25/\",\"display\":\"SantoDomingo\",\"name\":\"SantoDomingo\",\"slug\":\"santodomingo\"},\"location\":null,\"rack\":null,\"position\":null,\"face\":null,\"parent_device\":null,\"status\":{\"value\":\"active\",\"label\":\"Active\"},\"primary_ip\":null,\"primary_ip4\":null,\"primary_ip6\":null,\"cluster\":null,\"virtual_chassis\":null,\"vc_position\":null,\"vc_priority\":null,\"comments\":\"this is a comment!\",\"local_context_data\":null,\"tags\":[],\"custom_fields\":{},\"config_context\":{},\"created\":\"2022-03-06\",\"last_updated\":\"2022-03-06T15:42:14.261684Z\"},{\"id\":108,\"url\":\"https://demo.netbox.dev/api/dcim/devices/108/\",\"display\":\"ISP2\",\"name\":\"ISP2\",\"device_type\":{\"id\":6,\"url\":\"https://demo.netbox.dev/api/dcim/device-types/6/\",\"display\":\"ISR 1111-8P\",\"manufacturer\":{\"id\":3,\"url\":\"https://demo.netbox.dev/api/dcim/manufacturers/3/\",\"display\":\"Cisco\",\"name\":\"Cisco\",\"slug\":\"cisco\"},\"model\":\"ISR 1111-8P\",\"slug\":\"isr1111\"},\"device_role\":{\"id\":1,\"url\":\"https://d[...]
