{
  "log": {
    "_recordingName": "fetch-devices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "0d4c7ef9c63e7ea41c8459082e71cb5f",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://demo.netbox.dev/api/dcim/devices/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 38084,
            "text": "{\"count\":21,\"next\":null,\"previous\":null,\"results\":[{\"id\":161,\"url\":\"https://demo.netbox.dev/api/dcim/devices/161/\",\"display\":\"AXA\",\"name\":\"AXA\",\"device_type\":{\"id\":23,\"url\":\"https://demo.netbox.dev/api/dcim/device-types/23/\",\"display\":\"Router\",\"manufacturer\":{\"id\":18,\"url\":\"https://demo.netbox.dev/api/dcim/manufacturers/18/\",\"display\":\"Cisco\",\"name\":\"Cisco\",\"slug\":\"cisco\"},\"model\":\"Router\",\"slug\":\"router\"},\"role\":{\"id\":18,\"url\":\"https://demo.netbox.dev/api/dcim/device-roles/18/\",\"display\":\"Router\",\"name\":\"Router\",\"slug\":\"router\"},\"device_role\":{\"id\":18,\"url\":\"https://demo.netbox.dev/api/dcim/device-roles/18/\",\"display\":\"Router\",\"name\":\"Router\",\"slug\":\"router\"},\"tenant\":null,\"platform\":{\"id\":10,\"url\":\"https://demo.netbox.dev/api/dcim/platforms/10/\",\"display\":\"15.6(2)T\",\"name\":\"15.6(2)T\",\"slug\":\"1562t\"},\"serial\":\"92FLOEX1LZFKOTZIXCF0A\",\"asset_tag\":null,\"site\":{\"id\":32,\"url\":\"https://demo.netbox.dev/api/dcim/sites/32/\",\"display\":\"axa\",\"name\":\"axa\",\"slug\":\"axa\"},\"location\":null,\"rack\":null,\"position\":null,\"face\":null,\"latitude\":null,\"longitude\":null,\"parent_device\":null,\"status\":{\"value\":\"staged\",\"label\":\"Staged\"},\"airflow\":null,\"primary_ip\":null,\"primary_ip4\":null,\"primary_ip6\":null,\"oob_ip\":null,\"cluster\":null,\"virtual_chassis\":null,\"vc_position\":null,\"vc_priority\":null,\"description\":\"\",\"comments\":\"\",\"config_template\":null,\"config_context\":{},\"local_context_data\":null,\"tags\":[],\"custom_fields\":{},\"created\":\"2023-11-29T14:31:46.211858Z\",\"last_updated\":\"2023-11-29T20:54:17.960355Z\",\"console_port_count\":0,\"console_server_port_count\":0,\"power_port_count\":0,\"power_outlet_count\":0,\"interface_count\":1,\"front_port_count\":0,\"rear_port_count\":0,\"device_bay_count\":0,\"module_bay_count\":0,\"inventory_item_count\":0},{\"id\":172,\"url\":\"https://demo.netbox.dev/api/dcim/devices/172/\",\"display\":\"CCK\",\"name\":\"CCK\",\"device_type\":{\"id\":27,\"url\":\"https://demo.netbox.dev/api/dcim/device-types/27/\",\"display\":\"Catalyst 9300-48P\",\"manufacturer\":{\"id\":18,\"url\":\"https://demo.netbox.dev/api/dcim/manufacturers/18/\",\"display\":\"Cisco\",\"name\":\"Cisco\",\"slug\":\"cisco\"},\"model\":\"Catalyst 9300-48P\",\"slug\":\"cisco-c9300-48p\"},\"role\":{\"id\":18,\"url\":\"https://demo.netbox.dev[...]
