{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "126e6e91b5733d271d281d4c68fa11a2",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://demo.netbox.dev/api/status/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 461,
            "text": "{\"django-version\":\"3.2.12\",\"installed-apps\":{\"debug_toolbar\":\"3.2.4\",\"django_filters\":\"21.1\",\"django_prometheus\":\"2.2.0\",\"django_rq\":\"2.5.1\",\"django_tables2\":\"2.4.1\",\"drf_yasg\":\"1.20.0\",\"graphene_django\":\"2.15.0\",\"graphiql_debug_toolbar\":\"0.2.0\",\"mptt\":\"0.13.4\",\"rest_framework\":\"3.12.4\",\"social_django\":\"5.0.0\",\"taggit\":\"2.1.0\",\"timezone_field\":\"4.2.3\"},\"netbox-version\":\"3.1.8\",\"plugins\":{\"netbox_demo\":\"0.2\"},\"python-version\":\"3.8.10\",\"rq-workers-running\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "allow",
              "value": "GET, HEAD, OPTIONS"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 80,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
